<h1>Crie seu personagem</h1>

<%= form_for :Character, url: characters_path do |f| %>
  <p>
    <%= f.label "Nome:" %>
    <%= f.text_field :nome %><br />
    <%= f.label "Força: " %>
    <%= f.text_field :for %>
    <%= f.label "Resistência: " %>
    <%= f.text_field :res %>
    <%= f.label "Agilidade: " %>
    <%= f.text_field :agi %><br>
    A soma dos atributos não deve ultrapassar 10.
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>
